<div id="content">
  <!--{{! Title from Sheet tab }}-->
  <!--
  <h2>
    <a href="/projects">{{ title }}</a>
  </h2>
  -->
  <div id="header-logo-container">
    <a href="/projects">
      <img id="header-logo" src="https://cdn.glitch.com/ba2b66d5-8c8f-4c1a-8a93-c0aff3884c8e%2Fimage4.png?v=1586530017858" alt="Emoti-Con logo" />
    </a>
  </div>
  
  <!--{{! Insert any static HTML }}-->
  <div id="static-html">
    {{{ data.currentWorksheet.staticHTML }}}
  </div>
  
  <!--{{! Iterate through sheet rows }}-->
  <div id="index-projects-container">
    

    {{#each rows }}
      <div class="index-project">
        

        <!-- Project Name Header -->
        {{#if [Project Name] }}
        {{#if projectId }}
        <h3 class="project-name">
          <a href="/projects/{{projectId}}">{{ [Project Name] }}</a>
        </h3>
        {{/if}}
        {{/if}}
        
        
        <!-- School or Program Header -->
        {{#if [School / Program Name] }}
        <h4 class="project-header">
          {{ [School / Program Name] }}
        </h4>
        {{/if}}
        
        
        <!-- Type of project -->
        {{#if [Type of project] }}
        <h4 class="project-header">
          {{ [Type of project] }}
        </h4>
        {{/if}}
        
        
        <!-- First photo -->
        {{#if [Add a photo!] }}
        {{#if [Add a photo!].images }}
        {{#if [Add a photo!].urls }}
        {{#if [Add a photo!].urls.[0] }}
        <div class="cover-image">
          <!--{{! Edit URL to make hotlinkable }}-->
          <a href="https://drive.google.com/uc?export=view&id={{[Add a photo!].urls.[0]}}">
            <img src="https://drive.google.com/uc?export=view&id={{[Add a photo!].urls.[0]}}" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." />
          </a>
        </div>
        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}
        
        <!-- Description of Project -->
        
        {{#if [Description of Project] }}
        <p class="project-description">
          {{ [Description of Project] }}
        </p>
        {{/if}}
        
        
        <div class="reactions-container">
          
          <div class="reaction">
            <h4>
              <button onclick="sendReaction({{projectId}}, '游닉')" class="reaction-button">游닉 <span id="project-{{projectId}}-field-游닉-reaction-count">{{ 游닉 }}</span></button>
            </h4>
            <h4>
              <button onclick="sendReaction({{projectId}}, '游깴')" class="reaction-button">游깴 <span id="project-{{projectId}}-field-游깴-reaction-count">{{ 游깴 }}</span></button>
            </h4>
            <h4>
              <button onclick="sendReaction({{projectId}}, '游붃')" class="reaction-button">游붃 <span id="project-{{projectId}}-field-游붃-reaction-count">{{ 游붃 }}</span></button>
            </h4>
          </div>
      
        </div>

      </div>
    {{/each}}
  </div>
</div>