<div id="header-logo-container">
  <a href="/projects">
    <img id="header-logo" src="https://cdn.glitch.com/ba2b66d5-8c8f-4c1a-8a93-c0aff3884c8e%2Fimage4.png?v=1586530017858" alt="Emoti-Con logo" />
  </a>
</div>

<div id="content">
  <!--{{! Title from Sheet tab }}-->
  <!--
  <h2>
    <a href="/projects">{{ title }}</a>
  </h2>
  -->
  
  
  <!--{{! Insert any static HTML }}-->
  <div id="static-html">
    {{{ data.currentWorksheet.staticHTML }}}
  </div>
  
  <!--{{! Iterate through sheet rows }}-->
  <div id="index-projects-container">
    

    {{#each rows }}
      <div class="index-project">
        

        <!-- Project Name Header -->
        {{#if [Project Name] }}
        {{#if rowId }}
        <h2 class="project-name">
          <a href="/projects/{{rowId}}">“{{ [Project Name] }}”</a>
        </h2>
        {{/if}}
        {{/if}}

        <!-- Type of project -->
        {{#if [Project Category] }}
        <h4 class="project-header">
          {{ projectCategory [Project Category] }}
        </h4>
        {{/if}}

        <!-- Student names or count -->

        {{#if (over2Students [Student Count]) }}
          {{#if [Student Count] }}
            <h3 class="project-header">
              By {{ [Student Count] }} Students
            </h3>
          {{/if }}
        {{else }}
          {{#if [Student Names] }}
            <h3 class="project-header">
              By {{ [Student Names] }}
            </h3>
          {{/if }}
        {{/if }}

        
        
        <!-- School or Program Header -->
        {{#if [Organization or Program Affiliation] }}
        <h4 class="project-header">
          From {{ [Organization or Program Affiliation] }}
        </h4>
        {{/if}}

        <!-- Primary Image -->
        {{#if [Primary Image] }}
          {{#if [Primary Image].images}}
            {{#each [Primary Image].urls}}
              <div class="image">
                <!--{{! Edit URL to make hotlinkable }}-->
                <a href="https://drive.google.com/uc?export=view&id={{this}}">
                  <img src="https://drive.google.com/uc?export=view&id={{this}}" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." />
                </a>
              </div>
            {{/each}}
          {{/if}}
        {{else}}
          <div class="image">
            <img src="/images/radio.png" style="width: 500px; max-width: 100%; height: auto" />
          </div>
        {{/if}}

      </div>
    {{/each}}
  </div>
</div>