<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emoti-Con NYC 2020</title>
    <link id="favicon" rel="icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="stylesheet" href="/style.css" type="text/css">
    
    <link rel="icon" href="/images/emoti-con-logo-small-blue-grey.png" type="image/png"/>
    
    <!-- Social -->
    <meta property="og:title" content="Emoti-Con NYC 2020"/>
    <meta property="og:description" content="A Virtual Media & Technology Project Fair for NYC students!" />
    <meta property="og:image" content="/images/social-card.png" />


    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@EmotiCon_NYC" />
    <meta name="twitter:creator" content="@EmotiCon_NYC" />
    <meta name="twitter:title" content="Emoti-Con NYC 2020" />
    <meta name="twitter:description" content="A Virtual Media & Technology Project Fair for NYC students!" />
    <meta name="twitter:image" content="/images/social-card.png" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Signika:wght@400;700&display=swap" rel="stylesheet">
    
    
  </head>
  <body>
    <!--
    <h1 id="header">
      {{ docTitle }}
    </h1>
    
    <ul id="menu">
      {{#each data.worksheets }}
        {{#unless this.only}}
          <li>
            <h3>
              {{#if this.current }}
                {{ this.title }}
              {{else}}
                <a href="{{ this.title }}">
                  {{ this.title }}
                </a>
              {{/if}}
            </h3>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
    -->
    
    {{{ body }}}
  </body>
  <script src="/script.js"></script>
</html>
