<div id="content">
  <!--{{! Title from Sheet tab }}-->
  <h2>
    <a href="/projects">{{ title }}</a>
  </h2>
  
  <!--{{! Insert any static HTML }}-->
  <div id="static-html">
    {{{ data.currentWorksheet.staticHTML }}}
  </div>
  
  <!--{{! Iterate through sheet rows }}-->
  {{#each projectData.rows }}
    <div class="project">
      
      {{#if this/[Project Name] }}
      {{#if this.projectId }}
      <h3>
        <a href="/projects/{{this.projectId}}">{{ this/[Project Name] }}</a>
      </h3>
      {{/if}}
      {{/if}}
      <!--{{! Non-images are copied directly }}-->
      <ul class="project-fields">
        <li><strong>Index:</strong> {{@index}}</li>
        {{#each this}}
          {{#unless this.image}}
            <li>
              <strong>{{@key}}:</strong><span id="project-{{../projectId}}-field-{{@key}}-reaction-count">{{this}}</span>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
      
      <!--{{! Images in a separate list }}-->
      <div class="images">
        <h4>
          Images:
        </h4>
        {{#each this}}
          {{#if this.images}}
            {{#each this.urls}}
              <div class="image">
                <!--{{! Edit URL to make hotlinkable }}-->
                <a href="https://drive.google.com/uc?export=view&id={{this}}">
                  <img src="https://drive.google.com/uc?export=view&id={{this}}" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." />
                </a>
              </div>
            {{/each}}
          {{/if}}
        {{/each}}
      </div>
      
      <!--{{! Videos in a separate list }}-->
      <div class="images">
        <h4>
          Videos:
        </h4>
        {{#each this}}
          {{#if this.video}}
            {{#each this.urls}}
              <div class="image">
                <!--{{! Edit URL to make hotlinkable }}-->
                <a href="https://drive.google.com/uc?export=view&id={{this}}">
                  <video width="320" height="240" controls>
                    <source src="https://drive.google.com/uc?export=view&id={{this}}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </a>
              </div>
            {{/each}}
          {{/if}}
        {{/each}}
      </div>
      
      <!--{{! Audio in a separate list }}-->
      <div class="images">
        <h4>
          Audio:
        </h4>
        {{#each this}}
          {{#if this.audio}}
            {{#each this.urls}}
              <div class="image">
                <!--{{! Edit URL to make hotlinkable }}-->
                <a href="https://drive.google.com/uc?export=view&id={{this}}">
                  <audio controls>
                    <source src="https://drive.google.com/uc?export=view&id={{this}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>
                </a>
              </div>
            {{/each}}
          {{/if}}
        {{/each}}
      </div>
      
      <hr>
      
      
      <!--{{! Buttons for incrementing reactions }}-->
      <div class="reaction-buttons">
        <ul>
          {{#each ../reactions}}
          <li>
            <button onclick="sendReaction({{../this.projectId}}, '{{this}}')">
              {{this}}
            </button>
          </li>
          {{/each}}
        </ul>
      </div>
      
      <hr>
      
      <!--{{! Judge feedback }}-->
      <div class="judge-feedback">
        <h4>
          Judge Feedback:
        </h4>
        <ul>
          {{#each ../judgeData.rows}}
            <li>
              <p>
                <strong>Project Id:</strong> {{ projectId }}
              </p>
              <p>
                <strong>Feedback:</strong> {{ publicFeedback }}
              </p>
            </li>
          {{/each}}
        </ul>
      </div>

    </div>
  


    <hr>
  {{/each}}
</div>