<div id="header-logo-container">
  <a href="/">
    <img id="header-logo" src="/images/emoti-con-header.gif" alt="Emoti-Con logo" />
  </a>
</div>

<div id="nav-section" class="section">
  <div class="centered-button-container">
    <div class="button active-page-nav-button"><a href="/"><h2>All Projects & Keynote</h2></a></div>
    <div class="button"><a href="/projects/random"><h2>🎲 Random Project!</h2></a></div>
    <div class="button"><a href="/about"><h2>About Virtual Emoti-Con</h2></a></div>
  </div>
</div>

<div id="intro-section" class="section">

  <h1>👏 The Emoti-Con 2020 Virtual Project Fair! 👏</h1>

  <p class="project-fair-intro-paragraph"><a href="https://emoti-con.org" target="blank" style="text-decoration: underline;">Emoti-Con</a> is a project fair for students across NYC who believe in digital innovation as a tool for positive change in the world around them. Scroll below to view 87 projects from the next generation of coders, designers and inventors.</p>
</div>


<div id="keynote-award-video">
  <div id="awards" class="top-video-container">
    <h2>Awards Ceremony</h2>
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/zSwc3zS4I3A' frameborder='0' allowfullscreen></iframe></div>
    <p>Amanda and Mickell from the Emoti-Con alumni committee (“the Aluminati”) and the Judges announce the 5 award winners and 5 honorable mentions for this year’s virtual project fair. Congratulations!
  </div>
  <div id="keynote" class="top-video-container">
    <h2>Keynote: Errol King from Google!</h2>
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/crCpe8Tj4ps' frameborder='0' allowfullscreen></iframe></div>
    <p>Errol shares his pathway from growing up in the Bronx to becoming a Creative Technologist at Google. We learn about his experience working remotely, his philosophy about learning, creativity, co-creation and the importance of patience.</p>
  </div>
  <div id="video-tabs">
    <div id="awards-tab" class="video-tab active-video-tab button">Awards Ceremony</div>
    <div id="keynote-tab" class="video-tab button">Switch to Keynote</div>
  </div>
</div>

<div id="content">

  <div class="index-projects-list">

    <div class="header-container">
      <h1 id="virtual-project-fair" class="lb-bg highlight lg-highlight black-text">🏆 Emoti-Con 2020 Winners 🏆</h1>
    </div>

    {{#each rows }}
      {{#if [Award Name] }}
      {{#if (isNotHonorableMention [Award Name]) }}
        <a href="/projects/{{rowId}}" class="index-link"><div class="index-project">

          <!-- Project Name Header -->
          {{#if [Project Name] }}
          {{#if rowId }}
          <h2 class="project-name">
            <!--<a href="/projects/{{rowId}}">-->
            “{{ [Project Name] }}”
            <!--</a>-->
          </h2>
          {{#if [Award Name] }}
            <h3 class="award-banner">
              {{ [Award Name] }} Award
            </h3>
          {{/if }}
          {{/if}}
          {{/if}}

          <!-- Type of project -->
          {{#if [Project Category] }}
          <h4 class="project-header">
            {{ projectCategory [Project Category] }}
          </h4>
          {{/if}}

          <!-- Student names or count -->

          {{#if (over2Students [Student Count]) }}
            {{#if [Student Count] }}
              <h3 class="project-header">
                By {{ [Student Count] }} Students
              </h3>
            {{/if }}
          {{else }}
            {{#if [Student Names] }}
              <h3 class="project-header">
                By {{ [Student Names] }}
              </h3>
            {{/if }}
          {{/if }}

          
          
          <!-- School or Program Header -->
          {{#if [Organization or Program Affiliation] }}
          <h4 class="project-header">
            From {{ [Organization or Program Affiliation] }}
          </h4>
          {{/if}}

          <!-- Primary Image -->
          {{#if [Primary Image] }}
            {{#if [Primary Image].images}}
              {{#each [Primary Image].urls}}
                <div class="image">
                  <!--{{! Edit URL to make hotlinkable }}-->
                    <!--<img src="https://drive.google.com/uc?export=view&id={{this}}" style="width: 500px; max-width: 100%; height: auto" />-->
                    <img src="{{this}}" style="width: 500px; max-width: 100%; height: auto" />
                </div>
              {{/each}}
            {{/if}}
          {{else}}
            <div class="image">
              <img src="/images/radio.png" style="width: 500px; max-width: 100%; height: auto" />
            </div>
          {{/if}}

        </div></a>
      {{/if }}
      {{/if }}
    {{/each}}
  </div>

  <div class="index-projects-list">
    {{#each rows }}
      {{#if [Award Name] }}
      {{#if (isHonorableMention [Award Name]) }}
        <a href="/projects/{{rowId}}" class="index-link"><div class="index-project">

          <!-- Project Name Header -->
          {{#if [Project Name] }}
          {{#if rowId }}
          <h2 class="project-name">
            <!--<a href="/projects/{{rowId}}">-->
            “{{ [Project Name] }}”
            <!--</a>-->
          </h2>
          {{#if [Award Name] }}
            <h3 class="award-banner">
              {{ [Award Name] }} Award
            </h3>
          {{/if }}
          {{/if}}
          {{/if}}

          <!-- Type of project -->
          {{#if [Project Category] }}
          <h4 class="project-header">
            {{ projectCategory [Project Category] }}
          </h4>
          {{/if}}

          <!-- Student names or count -->

          {{#if (over2Students [Student Count]) }}
            {{#if [Student Count] }}
              <h3 class="project-header">
                By {{ [Student Count] }} Students
              </h3>
            {{/if }}
          {{else }}
            {{#if [Student Names] }}
              <h3 class="project-header">
                By {{ [Student Names] }}
              </h3>
            {{/if }}
          {{/if }}

          
          
          <!-- School or Program Header -->
          {{#if [Organization or Program Affiliation] }}
          <h4 class="project-header">
            From {{ [Organization or Program Affiliation] }}
          </h4>
          {{/if}}

          <!-- Primary Image -->
          {{#if [Primary Image] }}
            {{#if [Primary Image].images}}
              {{#each [Primary Image].urls}}
                <div class="image">
                  <!--{{! Edit URL to make hotlinkable }}-->
                    <!--<img src="https://drive.google.com/uc?export=view&id={{this}}" style="width: 500px; max-width: 100%; height: auto" />-->
                    <img src="{{this}}" style="width: 500px; max-width: 100%; height: auto" />
                </div>
              {{/each}}
            {{/if}}
          {{else}}
            <div class="image">
              <img src="/images/radio.png" style="width: 500px; max-width: 100%; height: auto" />
            </div>
          {{/if}}

        </div></a>
      {{/if }}
      {{/if }}
    {{/each}}
  </div>




  <!--{{! Iterate through sheet rows }}-->
  <div id="index-projects-container" class="index-projects-list">

    <div class="header-container">
      <h1 id="virtual-project-fair" class="lb-bg highlight lg-highlight black-text">👏 All Emoti-Con Projects 👏</h1>
    </div>

    <p class="project-fair-intro-paragraph">Here you can view all 87 projects submitted for the 2020 Emoti-Con NYC Youth Digital Media & Technology Challenge.</p>
    

    {{#each rows }}
      <a href="/projects/{{rowId}}" class="index-link"><div class="index-project">

        <!-- Project Name Header -->
        {{#if [Project Name] }}
        {{#if rowId }}
        <h2 class="project-name">
          <!--<a href="/projects/{{rowId}}">-->
          “{{ [Project Name] }}”
          <!--</a>-->
        </h2>
        {{#if [Award Name] }}
          <h3 class="award-banner">
            {{ [Award Name] }} Award
          </h3>
        {{/if }}
        {{/if}}
        {{/if}}

        <!-- Type of project -->
        {{#if [Project Category] }}
        <h4 class="project-header">
          {{ projectCategory [Project Category] }}
        </h4>
        {{/if}}

        <!-- Student names or count -->

        {{#if (over2Students [Student Count]) }}
          {{#if [Student Count] }}
            <h3 class="project-header">
              By {{ [Student Count] }} Students
            </h3>
          {{/if }}
        {{else }}
          {{#if [Student Names] }}
            <h3 class="project-header">
              By {{ [Student Names] }}
            </h3>
          {{/if }}
        {{/if }}

        
        
        <!-- School or Program Header -->
        {{#if [Organization or Program Affiliation] }}
        <h4 class="project-header">
          From {{ [Organization or Program Affiliation] }}
        </h4>
        {{/if}}

        <!-- Primary Image -->
        {{#if [Primary Image] }}
          {{#if [Primary Image].images}}
            {{#each [Primary Image].urls}}
              <div class="image">
                <!--{{! Edit URL to make hotlinkable }}-->
                  <!--<img src="https://drive.google.com/uc?export=view&id={{this}}" style="width: 500px; max-width: 100%; height: auto" />-->
                  <img src="{{this}}" style="width: 500px; max-width: 100%; height: auto" />
              </div>
            {{/each}}
          {{/if}}
        {{else}}
          <div class="image">
            <img src="/images/radio.png" style="width: 500px; max-width: 100%; height: auto" />
          </div>
        {{/if}}

      </div></a>
    {{/each}}
  </div>
</div>