<div id="header-logo-container">
  <a href="/">
    <img id="header-logo" src="/images/emoti-con-header.gif" alt="Emoti-Con logo" />
  </a>
</div>

<div id="nav-section" class="section">
    <div class="centered-button-container">
      <div class="button"><a href="/"><h2>All Projects & Keynote</h2></a></div>
      <div class="button"><a href="/projects/random"><h2>🎲 Random Project!</h2></a></div>
      <div class="button"><a href="/about"><h2>About Virtual Emoti-Con</h2></a></div>
    </div>
  </div>


<div id="project-content">

  <div id="project-content-header">
    <!-- Project Name Header -->
    {{#if projectData.[Project Name] }}
    {{#if projectData.rowId }}
    <h2 class="project-name">
      <a href="/projects/{{projectData.rowId}}">“{{ projectData.[Project Name] }}”</a>
    </h2>
    {{/if}}
    {{/if}}

    <div id="project-details-box">
      <!-- Type of project -->
      {{#if projectData.[Project Category] }}
      <h3 class="project-header">
        {{ projectCategory projectData.[Project Category] }}
      </h3>
      {{/if}}

      <!-- Student names or count -->

      {{#if projectData.[Student Count] }}
        <h3 class="project-header">
            By {{ projectData.[Student Names] }}
        </h3>
      {{/if }}

      
      
      <!-- School or Program Header -->
      {{#if projectData.[Organization or Program Affiliation] }}
      <h3 class="project-header">
        {{#if projectData.[Age Range]}}{{projectData.[Age Range]}} Students from {{else}}Students from {{/if}}<strong>{{ projectData.[Organization or Program Affiliation] }}</strong>
      </h3>
      {{/if}}

    </div>

  </div>

  <div id="project-info">

    {{#if projectData.[Primary Image] }}
      {{#if projectData.[Primary Image].images}}
        {{#each projectData.[Primary Image].urls}}
          <div class="primary-image">
            <!--{{! Edit URL to make hotlinkable }}-->
              <!--<img src="https://drive.google.com/uc?export=view&id={{this}}" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." />-->
              <img src="{{this}}" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." />
          </div>
        {{/each}}
      {{/if}}
    {{/if}}

    <div class="project-section-header-container">
      <h3 class="lg-bg highlight lg-highlight">About this project:</h3>
    </div>
    <p>
      {{ breaklines projectData.[Project Description] }}
    </p>
  </div>


  <div id="project-media">
    <div class="project-section-header-container">
      <h3 class="lg-bg highlight lg-highlight">Project Media:</h3>
    </div>

    <!--{{! Images in a separate list }}-->
    {{#if projectData.[Images] }}
      <div class="project-images project-media-section">
      <h4 class="project-media-header">
        Images:
      </h4>
        {{#if projectData.[Images].images }}
          <!--
            projectData.[Images] is an object with 2 properties:
            'images' which is true and 'urls' which contains an array of
            the image urls
          -->
          {{#each projectData.[Images].urls }}
            <div class="project-image">
              <!--{{! Edit URL to make hotlinkable }}-->
              <!--<a href="https://drive.google.com/uc?export=view&id={{ this }}">
                <img src="https://drive.google.com/uc?export=view&id={{ this }}" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." />
              </a>-->

              <a href="{{ this }}" target="_blank">
                <img src="{{ this }}" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." />
              </a>
            </div>
          {{/each}}
        {{/if}}
      </div>
    {{/if}}

    <!--{{! Audio in a separate list }}-->
    {{#if projectData.[Audio].audio}}
      <div class="project-audio project-media-section">  
        <h4 class="project-media-header">
          Audio:
        </h4>
        {{#each projectData.[Audio].urls}}
          <!--{{! Edit URL to make hotlinkable }}-->
          <!--
          <a href="https://drive.google.com/uc?export=view&id={{this}}">
            <audio controls>
              <source src="https://drive.google.com/uc?export=view&id={{this}}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </a>
          -->
          <a href="{{this}}">
            <audio controls>
              <source src="{{this}}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </a>
        {{/each}}
      </div>
    {{/if}}

    <!--{{! Slides in a separate list }}-->
    {{#if projectData.[Slides]}}
    <div class="project-slides project-media-section">
      <h4 class="project-media-header">
        Slides:
      </h4>
      {{#if projectData.[Slides].slides}}
        {{#each projectData.[Slides].urls}}
          <!--{{! Edit URL to make hotlinkable }}-->
          <a class="project-link button" href="https://drive.google.com/open?id={{this}}" target="_blank">
            <h4>View Slides</h4>
          </a>
        {{/each}}
      {{/if}}
    </div>
    {{/if}}


    <!--{{! Videos in a separate list }}-->
    {{#if projectData.[Video]}}
      <div class="project-video project-media-section">
        <h4 class="project-media-header">
          Video:
        </h4>
        {{#if projectData.[Video].video}}
          {{#each projectData.[Video].urls}}
            <!--
            <a href="https://drive.google.com/uc?export=view&id={{this}}">
              <video class="video-embed" controls>
                <source src="https://drive.google.com/uc?export=view&id={{this}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </a>
            <br/>
            <a class="project-link button" href="https://drive.google.com/open?id={{this}}" target="_blank">
              <h4>Open Video in a new tab</h4>
            </a>
            -->
            <!--{{! Edit URL to make hotlinkable }}-->
            <video class="video-embed" controls>
              <source src="{{this}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <!--
            <br/>
            <a class="project-link button" href="{{this}}" target="_blank">
              <h4>Open Video in a new tab</h4>
            </a>
            -->
          {{/each}}
        {{/if}}
      </div>
    {{/if}}

    <!--{{! Links in a separate list }}-->
    {{#if projectData.[Links]}}
    <div class="project-links project-media-section">
      <h4 class="project-media-header">
        Links:
      </h4>
      {{#each projectData.[Links] }}
        <!--{{! Edit URL to make hotlinkable }}-->
          <a class="project-link button" href="{{this.url}}" target="_blank">
            <h4>{{ this.original }}</h4>
          </a>
      {{/each}}
    </div>
    {{/if}}

  </div>

  {{#if projectData.[More About Our Project]}}
  <div class="project-section-header-container">
    <div id="project-more-info">
      <h3 class="lg-bg highlight lg-highlight">More about this project:</h3>
      <p>{{ breaklines projectData.[More About Our Project] }}</p>
    </div>
  </div>
  {{/if}}


  <div id="share">

    <div class="project-section-header-container">
        <h3 class="lg-bg highlight lg-highlight">Share this project:</h3>
    </div>

    <ul id="share-button-list">
      <li>
        <a class="share-button" href="https://twitter.com/intent/tweet?text={{tweetText projectData}}" target="_blank"><span><img src="/images/share-twitter.png" class="share-icon" /></span>Twitter</a>
      </li>
      
      <li>
        <a class="share-button" href="{{facebookText projectData}}" target="_blank"><span><img src="/images/share-facebook.png" class="share-icon" /></span>Facebook</a>
      </li>

      <!--
      <li>
        <a class="share-button" href="#" onclick="copyLink({{projectData.rowId}})">Copy Link to This Project</a>
        <input type="text" value="https://virtual.emoti-con.org/projects/{{projectData.rowId}}" style="height: 0; width: 0; position: fixed; top: -100; border: 0;" id="project-link-to-copy" />
      </li>
      -->

    </ul>
    

  </div>


  <!-- Judge and public responses -->
  <div id="response-section">
    <h2 class="project-section-header">Community Feedback:</h2>

    <div class="reactions-container">

      <div id="reactions-display" style="position: fixed; top: 0; left: 0;height: 0; width: 0;">

      </div>
      
          
      <div class="reaction">
        <ul id="reactions-list">
          {{#each reactions}}
            <li>
              <h4>
                <button onclick="sendReaction({{ ../projectData.rowId }}, '{{ this.name }}')" class="reaction-button">
                  {{ this.emoji }}
                  <span id="project-{{../projectData.rowId}}-field-{{ this.name }}-reaction-count">
                    {{#if (lookup ../projectData this.name)}}
                      {{ lookup ../projectData this.name }}
                    {{else }}
                      0
                    {{/if}}
                  </span>
                </button>
                <br/>
                {{ this.shortFunName }}
              </h4>
            </li>
          {{/each}}
        </ul>
      </div>
  
    </div>

    <a href="#feedback-form" class="button">Share your Feedback</a>

    <a href="https://emoti-con.org/" target="_blank" class="button">Learn more about the judges at Emoti-Con.org</a>

    {{#if responsesData.rows.length }}
    
    <h3>Feedback from the Judges:</h3>

    <ul class="response-list">
      {{#each responsesData.judgeResponses }}
        {{#if this.[Judge Feedback]}}
          <li class="project-response judge-feedback">
            {{#if this.[Judge Name]}}
              <h4 class="light-header">
                <strong>{{ this.[Judge Name] }}</strong> 👏 {{ roleAndOrg this.[Role] this.[Organization] }} — <em>Emoti-Con Judge</em>
              </h4>
            {{else}}
              <h4 class="light-header">
                <strong>Emoti-Con Judge</strong> 👏 {{ roleAndOrg this.[Role] this.[Organization] }}
              </h4>
            {{/if}}
            <p>{{ this.[Judge Feedback] }}</p>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    <h3>Feedback from the Community:</h3>
    <ul class="response-list">
      {{#each responsesData.publicResponses }}
        {{#if this.[Public Feedback]}}
          <li class="project-response public-feedback">
            <h4 class="light-header">
              <strong>{{#if this.[First Name]}}{{ this.[First Name] }}{{else}}Emoti-Con Guest{{/if}}</strong> 👏 {{#if this.[I am a] }} a {{ this.[I am a] }}{{/if}}{{#if this.[City]}} from {{ this.[City] }}{{/if}}
            </h4>
            <p>{{ this.[Public Feedback] }}</p>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    {{/if}}

    <h4 id="feedback-form">Project Id: {{ projectData.rowId }}<br/>Project Name: {{ projectData.[Project Name] }}</h4>
    <a class="new-tab-form-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfNpjQfmNWAtiotPu1hC7BQki99gOmclUbNynRhrpe-hlvS7w/viewform?usp=pp_url&entry.1593337430={{ projectData.rowId }}" target="_blank">Click here to open this form in a new tab</a>
    <div class="google-form-container">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfNpjQfmNWAtiotPu1hC7BQki99gOmclUbNynRhrpe-hlvS7w/viewform?embedded=true&usp=pp_url&entry.1593337430={{ projectData.rowId }}" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--https://docs.google.com/forms/d/e/1FAIpQLSfNpjQfmNWAtiotPu1hC7BQki99gOmclUbNynRhrpe-hlvS7w/viewform?usp=pp_url&entry.1593337430=9-->

  </div>
  
</div>